#menu{
    background-color: white ;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    border-right: 1px rgb(219, 219, 219) solid;
}

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu ul li{
    border-bottom: 1px rgb(219, 219, 219) solid;
}

#menu ul li a{
    display: inline-block;
    padding: 20px 20px ;
}

#menu ul li .fa{
    font-size: 20px;
    color: rgb(139, 139, 139) ;
}

#menu ul li.active .fa{
    color:rgb(39, 39, 39) ;
}

#menu ul li:first-child{
    background: linear-gradient(rgb(55, 0, 255), rgb(255, 118, 38));
}

#menu ul li:first-child .fa{
    color: white;
    font-size: 23px;
}