<div id="fullscreen">
    <div class="detail-image-container">
        <img src="../../{{ selectedPost.post.imagePath }}" />
    </div>
    <div class="detail-comments">
        <div class="top-action">
            <a href="#" (click)="closeDetail($event)" class="btn-window-close"><i class="fa fa-times-circle fa-2x"></i></a>
        </div>
        <div class="user-header">
            <div class="post-user">
                <div class="pdp-container">
                    <img src="../../{{ selectedPost.post.GetAuthor().pdpPath }}" alt="Pdp" />
                </div>
                <a href="#" class="name">{{ selectedPost.post.GetAuthor().getFullName() }}</a>
            </div>
            <span class="date">12h</span>
        </div>
        <div class="main-detail">
            <p>{{selectedPost.post.description}}</p>
        </div>
        <h1><i class="fa fa-comment"></i> Commentaires</h1>
        <div class="comments-container">
            <ng-container *ngFor="let item of selectedPost.post.GetComments()">
                <app-comment [comment]="item"></app-comment>
            </ng-container>
            <ng-template appPlaceHolder></ng-template>
        </div>
        <form class="custom-form" (submit)="addComment($event)">
            <textarea #textMessage placeholder="Entrer votre commentaire..."></textarea>
            <div class="button-container">
                <button class="btn-icon" type="submit" name="envoyer"><i class="fa fa-send" aria-hidden="true"></i></button>
            </div>
        </form>
    </div>
</div>
