<div id="fullscreen">
    <div class="detail-image-container">
        <img src="../../assets/images/7.jpg" />
    </div>
    <div class="detail-comments">
        <div class="user-header">
            <div class="post-user">
                <div class="pdp-container">
                    <img src="../../assets/images/6.jpg" alt="Pdp" />
                </div>
                <a href="#" class="name">Auteur</a>
            </div>
            <span class="date">12h</span>
        </div>
        <div class="main-detail">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <h1>Commentaires</h1>
        <div class="comments-container">
            <div class="comment">
                <div class="user-header">
                    <div class="post-user">
                        <div class="pdp-container">
                            <img src="../../assets/images/6.jpg" alt="Pdp" />
                        </div>
                        <a href="#" class="name">Auteur</a>
                    </div>
                    <span class="date">12h</span>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="comment">
                <div class="user-header">
                    <div class="post-user">
                        <div class="pdp-container">
                            <img src="../../assets/images/6.jpg" alt="Pdp" />
                        </div>
                        <a href="#" class="name">Auteur</a>
                    </div>
                    <span class="date">12h</span>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="comment">
                <div class="user-header">
                    <div class="post-user">
                        <div class="pdp-container">
                            <img src="../../assets/images/6.jpg" alt="Pdp" />
                        </div>
                        <a href="#" class="name">Auteur</a>
                    </div>
                    <span class="date">12h</span>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
        <form class="custom-form">
            <textarea placeholder="Entrer votre commentaire..."></textarea>
            <div class="button-container">
                <button class="btn-icon" type="submit" name="envoyer"><i class="fa fa-send" aria-hidden="true"></i></button>
            </div>
        </form>
    </div>
</div>
