<div class="post">
    <div class="post-header">
        <div class="post-user">
            <div class="pdp-container">
                <img src="../../{{post.author.pdpPath}}" alt="Pdp" />
            </div>
            <a href="#" class="name">{{ post.author.getFullName() }}</a>
        </div>
        <div>
            <span class="date">{{post.date}}</span>
        </div>
    </div>
    <div class="post-content">
        <div class="inner">
            <img (click)="viewDetail($event)" src="../../{{post.imagePath}}" alt="Publication" />
        </div>
    </div>
    <div class="post-action">
        <a href="#" (click)="toggleLove($event)">
            <div *ngIf="isLoved; else nobodyLovesMe">
                <i class="fa fa-heart active"></i>
            </div>
            <ng-template #nobodyLovesMe>
                <i class="fa fa-heart-o"></i>
            </ng-template>
        </a>
        <a href="#" (click)="viewDetail($event)"><i class="fa fa-comment-o"></i></a>
        <a href="#"><i class="fa fa-share"></i></a>
        <a href="#"><i class="fa fa-ellipsis-h"></i></a>
    </div>
</div>
