<div class="post">
    <div class="post-header">
        <div class="post-user">
            <div class="pdp-container">
                <img src="../../{{post.authorPdpPath}}" alt="Pdp" />
            </div>
            <a href="#" class="name">{{post.authorName}}</a>
        </div>
        <div>
            <span class="date">{{post.date}}</span>
        </div>
    </div>
    <div class="post-content">
        <div class="inner">
            <img src="../../{{post.imagePath}}" alt="Publication" />
        </div>
    </div>
    <div class="post-action">
        <a href="#"><i class="fa fa-heart-o"></i></a>
        <a href="#"><i class="fa fa-comment-o"></i></a>
        <a href="#"><i class="fa fa-share"></i></a>
        <a href="#"><i class="fa fa-ellipsis-h"></i></a>
    </div>
</div>
