<div class="post">
    <div class="post-header">
        <div class="post-user">
            <div class="pdp-container">
                <img src="../../assets/images/1.jpg" alt="Pdp" />
            </div>
            <a href="#" class="name">Ravalison Manda</a>
        </div>
        <div>
            <span class="date">12h</span>
        </div>
    </div>
    <div class="post-content">
        <div class="inner">
            <img src="../../assets/images/5.jpg" alt="Publication" />
        </div>
    </div>
    <div class="post-action">
        <a href="#"><i class="fa fa-heart-o"></i></a>
        <a href="#"><i class="fa fa-comment-o"></i></a>
        <a href="#"><i class="fa fa-share"></i></a>
        <a href="#"><i class="fa fa-ellipsis-h"></i></a>
    </div>
</div>
