/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css" ;

html, body{
    padding: 0 ;
    margin: 0;
}

 ::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 165, 29);
    border-radius: 10px;
  } 

body{
    background-color: rgb(223, 223, 223);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    color: rgb(70, 70, 70) ;
}

a{
    text-decoration: none;
    color: rgb(255, 118, 38) ;
}

form{
    width: 100% ;
}

textarea{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    color: rgb(94, 94, 94);
}

h1{
    font-size: 1.5em ;
    margin: 0 ;
}

button{
    cursor: pointer;
}

div, section, article, header, footer, form{
    box-sizing: border-box;
}

[hidden] {
    display: none !important;
}

.form-container{
    margin: 15px 0 ;
}

[class^="btn-"]{
    display: inline-block;
    border: 0 ;
    background-color: rgb(255, 118, 38) ;
    color: white ;
    font-weight: bold ;
    padding: 12px 20px ;
    box-sizing: border-box ;
    cursor: pointer;
    transition: all .8s ;
}

.btn-icon{
    padding: 10px ;
}

.btn-icon .fa{
    font-size: 18px ;
}

.btn-window-close{
    background-color: transparent;
    color: #000 ;
    padding: 10px 0 10px 0 ;
}

.btn-window-close:hover{
    background-color: transparent!important;
    color:rgb(255, 118, 38) ;
}

[class^="btn-"]:hover{
    background-color: rgb(255, 138, 71) ;
}

#right-content{
    margin: 10px 0 20px 70px;
    padding: 0 5px;
}

.grid-container{
    display: grid;
    align-items: center;
    width: 100%;
    grid-gap: 1%;
    grid-template-columns: 24% 24% 24% 24%;
}

img.responsive-image{
    width: 100%;
    height: auto;
}

.pdp-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    overflow: hidden;
    background-color: rgb(26, 26, 26);
    border-radius: 50% ;
}

.pdp-container img{
    height:100%; 
    min-width: 100%;
    object-fit: cover;
}

.post-user{
    display: flex;
    align-items: center;
}

.date{
    color: rgb(158, 158, 158);
    font-style: italic;
}

.post-user .name{
    font-weight: bold;
    color: black;
    margin-left: 10px;
}

.user-header, .post-header{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    flex-wrap: nowrap;
    padding: 10px;
    overflow: hidden;
}

@media(max-width: 1024px){
    .grid-container{
        grid-template-columns: 49% 49% ;
    }
}

@media(max-width: 480px){
    .grid-container{
        grid-template-columns: 100%;
        grid-gap: 5px ;
    }
}